@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url(image/wp7453676-portfolio-wallpapers.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

a {
  text-decoration: none;
  color: inherit;
}
nav {
  height: 90px;
  width: 100%;
  border-bottom: 3px solid white;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo-container {
  font-size: 36px;
  font-weight: 700;
  transition: 0.3s;
  cursor: pointer;
}
 .logo-container:hover{
    color: #F4B53A;
 }
 .logo-container i{
    padding-right: 9px;
 }

.nav-container ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.nav-container ul .nav-link {
  margin-right: 20px;
  color: #fff;
  text-transform: capitalize;
  transition: 0.3 all ease-in-out;
  border: none;
}
.nav-container ul .nav-link:hover{
   color: #F4B53A;
   border-bottom: 1px solid #F4B53A;
   transform: scale(1.2);
}
.nav-container ul .nav-link:last-child {
  margin-right: 0;
}

main {
    height: calc(100% - 90px);
    width: 100%;
    padding: 75px 150px 75px 30px;
    
  }

main .main-container{
    width: 100%;
    height: 100%;
    display: flex;
}

main .main-container .main-infos-content{
    width: calc(100% - 500px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main .main-container .main-infos-content .text-content{
    margin-bottom: 50px;
    margin-top: -200px;
}

main .main-container .main-infos-content .text-content h2{
    margin-bottom: 12px;
    font-size: 36px;
    font-weight: 700;
    color: white;
}

main .main-container .main-infos-content .text-content span{
    color:#171515;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: -1px;
}

main .main-container .main-infos-content .button-content{
    display: flex;
    gap: 20px;
}

main .main-container .main-infos-content .button-content button{
    text-transform: capitalize;
    padding: 10px 34px;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 4px 4px 0px 0px #F4B53A;
    transition: .3s all ease-in-out;
}
main .main-container .main-infos-content .button-content button:hover{
    animation: shake .3s linear;
}

main .main-container .main-image{
    width: 500px;
    height: 100%;
}
main .main-container .main-image img{
    width: 500px;
    height: 100%;
    border-radius: 25px;
}
.social-container{
    position: absolute;
    top: 37%;
    right: 20px;
    
}

.social-container a .social-item{
    font-size: 30px;
    background-color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 9px;
    transition: .3s all ease-in-out;
    color:black;
}

.social-container a .social-item.instagram:hover{
    background-color: #e4405f;
    color: white;
    transform: scale(1.2);
}

.social-container a .social-item.twitter:hover{
    background-color: #1da1f2;
    color: white;
    transform: scale(1.2);
}

.social-container a .social-item.github:hover{
    background-color: #171515;
    color: white;
    transform: scale(1.2);
}

.social-container a .social-item.linkedin:hover{
    background-color: #0a66c2;
    color: white;
    transform: scale(1.2);
}

@keyframes shake{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(10deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

